<!--*******************************************************************************
 * Autorskie Prawa Majątkowe - Moose spółka z ograniczoną odpowiedzialnością
 *
 * Copyright 2021 Moose spółka z ograniczoną odpowiedzialnością
 ******************************************************************************/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    {% block title %}
        {% if user.is_authenticated %}
            <title>CAIOTE | Witam, {{ (user.first_name).capitalize() }}!</title>
        {% else %}
            <title>CAIOTE</title>
        {% endif %}
    {% endblock %}
    <script type="text/javascript">
        window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000);
        window.setTimeout("document.getElementById('dangerMessage').style.display='none';", 2000);
    </script>
</head>
<body style="background-color:#2b6777">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CAIOTE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/generate">Start</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="/login">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/sign-up">Sign up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block pattern %}
        <div class="position-absolute top-0 start-0 pat"></div>
        <div class="position-absolute top-20 start-0 art"></div>
    {% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div id="dangerMessage" class="alert alert-danger alter-dismissible fade show m-auto" role="alert">
      {{ message }}
    </div>
    {% else %}
    <div id="successMessage" class="alert alert-success alter-dismissible fade show m-auto" role="alert">
      {{ message }}
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

        <br>
        <div class="container">{% block content %}
            <div class="position-absolute top-50 start-50 translate-middle" style="margin-top:28%;margin-left:16%;width:1000px">
                <p style="font-size:40px; align:center; margin-left:10px; color:#adaaaa;">CAIOTE</p>
                <a href="/generate" style="text-decoration:none; color:#f2f2f2;"><p style="font-size:80px;margin-left:8px">START GENERATE DATA</p></a>
                <hr style="color:#f2f2f2;">
            </div>
    {% endblock %}</div>

    <br>
    <div class="plot">{% block chart %}{% endblock %}</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

</body>
</html>