<!--*******************************************************************************
 * Autorskie Prawa Majątkowe - Moose spółka z ograniczoną odpowiedzialnością
 *
 * Copyright 2021 Moose spółka z ograniczoną odpowiedzialnością
 ******************************************************************************/-->
{% extends "base.html" %}
{% block title %}<title>Upload</title>{% endblock %}
{% block pattern %}{% endblock %}
{% block content %}{% endblock %}
{% block chart %}
    <br>
    <div class="form" >
        <form method="POST" enctype="multipart/form-data" target="my_iframe">
            <h2>Select a .csv File to Load:</h2>
            <hr>
            <p><input type="file" id="fileToLoad" name="file" required></p>
            <button type="button" class="btn btn-secondary"><a href="/generate" style="text-decoration: none; color: inherit;">Back</a></button>
            <button type="submit" class="btn btn-primary">Load Selected File</button>
        </form>
    </div>
    {% block plot %}
        <div class="position-absolute chart">
            <iframe name="my_iframe" src=""></iframe>
        </div>
    {% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}